<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

<<<<<<< HEAD
      h2{
        margin-top: 10px;
      }

      .inner-item {
        text-align: center;
	       height: 400px;
	       max-height: 400px;
        img {
          margin: 0 auto;
        }
      } 
    </style>
  </head>
  <body>
    <header class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></button>
          <a class="brand" href="#">iHava</a>
          <div class="nav-collapse collapse">
            <form class="form-inline navbar-form pull-right">
              <<!-- input type="text" class="input-medium" placeholder="Email address">
                 <input type="password" class="input-medium" placeholder="Password">
              <button class="btn" type="submit">Sign in</button> -->
              <%= form_for(:session, url: sessions_path) do |f| %>
=======
      <%= f.label :email %>
      <%= f.text_field :email %>
>>>>>>> 4fd115e0ed0a92c4cf009dfdb216dec165fa7cff

      <%= f.label :password %>
      <%= f.password_field :password %>

<<<<<<< HEAD
                <%= f.password_field :password, class: "input-medium", placeholder: "Password" %>

                <%= f.submit "Sign in", class: "btn btn-small btn-primary" %>
              <% end %>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </header>

    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <h2>New to iHava?</h2>
            <p class="lead" style="text-align: center;">Signing up is free and easy! Get started sharing and viewing collections of awesome stuff today.</p>
            <div class="span4"></div>
            <div class="span4" style="text-align: center; margin-left: 0;">
                  <%= link_to("Sign Up Now!", signup_path, class: "btn") %>
            </div>  
            <!--  Carousel - consult the Twitter Bootstrap docs at
      http://twitter.github.com/bootstrap/javascript.html#carousel --> 
               <div id="myCarousel" class="carousel slide"><!-- class of slide for animation -->
                <div class="carousel-inner">
                  <div class="item"><!-- class of active since it's the first item -->
                    <div class="inner-item">
                    <img src="http://25.media.tumblr.com/tumblr_m0de6kunMH1qaugiso1_1280.jpg" alt="">
                  </div>
                </div>
                <div class="item">
                  <div class="inner-item">
                    <img src="http://i.imgur.com/QIc9x.jpg" alt="">
                  </div>
                </div>
                <div class="item active">
                  <div class="inner-item">
                    <img src="http://i.imgur.com/ipTlAVnh.jpg" alt="">
                  </div>
                </div>
              </div><!-- /.carousel-inner -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    <footer style="text-align: center;">
      <a href="" alt="">Contact</a> |
      <a href="" alt="">Credits</a>
    </footer>
    
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
  </body>
    
  </body>
</html>
=======
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
>>>>>>> 4fd115e0ed0a92c4cf009dfdb216dec165fa7cff

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
